@import "tailwindcss";


:root {
  --background: #FAF9FB;
  --foreground: #211F26;
  --interactive: #512454; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-interactive: var(--interactive);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A191B;
    --foreground: #EEEEF0;
    --interactive: #F2D1F3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


